<div class="h-full w-screen">
    <div class="mx-auto max-w-7xl pt-16 sm:pt-24">
        <div class="flex flex-col items-center justify-start">
            <div class="px-6 sm:text-center md:mx-auto md:max-w-2xl lg:col-span-6 lg:flex lg:items-center lg:text-left">
                <div class="space-y-8">
                    <div class="space-y-4 text-center">
                            <h1 class="text-4xl font-bold tracking-tight text-white  sm:text-5xl md:text-6xl ">
                                Vidéos Center
                                {# go beyond sound. #}
                            </h1>
                        <p class="text-base text-zinc-300 -blue-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                        Site de vidéos du coco.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex items-center w-full col-span-6 mt-10">
                <div class="px-6 h-96 lg:h-100% w-full max-w-2xl col-span-6 flex items-center mx-auto">
                    <div style="width: 100%; height: 100%;">
                        <div style="width: 100%; height: 100%;">
                            <iframe frameborder="0" allowfullscreen="1"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                width="100%" height="100%"
                                src="https://www.youtube.com/embed/AdyYp_V9st0"
                                id="widget2">
                            </iframe>
                            
                        
                    </div>
                    
                </div>

            </div>
            
            </div>
                        
        </div>
    </div>

</div>




